body,
html {
    height: 100%;
    margin: 0;
    background-color: #333;
    font-family: 'Georgia', serif;
    color: #F5E5C0;
}

.navbar {
    font-family: 'Playfair Display', serif;
    background-color: #444;
    max-height: 60px;
    /* position: relative; */
    -webkit-box-shadow: 0px 9px 5px -7px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 9px 5px -7px rgba(0,0,0,0.31);
box-shadow: 0px 9px 5px -7px rgba(0,0,0,0.31);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F5E5C0 !important;
}

.navbar-brand img {
    max-width: 260px;
    /* position: absolute; */
    /* top: -800px; */
    margin-top: 32px;
}

.nav-link {
    color: #F5E5C0 !important;
}

.container-fluid {
    height: calc(100vh - 56px);
    /* Adjust for the navbar height */
    display: flex;
    flex-direction: column;
}

.hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
}

/* .hero img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */



.right-column {
    /* background-image: url('assets/panap.webp'); */
    /* background-position: center; */
    background: #413f3d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 20px; */
    height: 100%;
    padding: 0;
}

.right-flex-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* height: 50vh; */
    height: 100%;
}

.ai-austen-img {
    max-width: 72%;
    /* text-align: center; */
    margin: 0 auto;
    /* margin-top: 40px; */
    /* margin-bottom: 40px;  */
    /* opacity: 0.22; */
}

.left-flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 50vh; */
    width: 100%;
    height: 60%;
}

.left-flex-cont .bottom {
    max-width: 68%;
    margin: 0 auto;
}



.setup-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.top, .bottom {
    /* max-width: 78%; */
    margin: 0 auto;
}

.right-flex-cont .top {
    background: #29282b;
    width: 100%;
    /* padding: 20px; */
    margin-bottom: 40px;
}

/* Add transitions for the character bios */
/* #character-bios {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(20px);
} */

/* #character-bios.show {
    opacity: 1;
    transform: translateY(0);
} */


.cb-left img {
    max-width: 200px;
}

.cb-right {
    text-align: left;
    padding-left: 20px;
}

#home-image {
    background-image: url(assets/panap.webp);
    background-position: center;
    background-size: contain;
    /* min-width: 100%; */
    height: 20vh;
    opacity: 0.42;
}

.right-flex-cont .bottom {
    margin-top: 40px;
}

.logo-inline {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
}

.chatbot-space {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    /* Hide initially */
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    padding: 20px;
    background-color: #444;
    color: #F5E5C0;
    overflow-y: auto;
}

.form-group label {
    font-weight: bold;
    font-size: 1.2rem;
}

.form-control {
    font-family: 'Georgia', serif;
    font-size: 1rem;
    color: #333;
    background-color: #F5E5C0;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg” viewBox=“0 0 4 5”>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    height: auto;
    min-height: 38px;
    line-height: 1.5;
    }

    .form-control:focus {
        border-color: #666;
        background-color: #F5E5C0;
        box-shadow: none;
    }

    .form-control option {
        background-color: #F5E5C0;
        color: #333;
    }

    .chat-message {
        display: inline-block;
        margin-bottom: 10px;
        max-width: 75%;
        /* Adjust as necessary */
        word-wrap: break-word;
        word-break: break-word;
    }

    .chat-message.user {
        text-align: right;
        float: right;
        clear: both;
        background-color: #6c757d;
        color: #F5E5C0;
        border-radius: 10px;
        padding: 10px;
    }

    .chat-message.character {
        text-align: left;
        float: left;
        clear: both;
        background-color: #343a40;
        color: #F5E5C0;
        border-radius: 10px;
        padding: 10px;
    }

    #userInput {
        flex-grow: 1;
        margin-right: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .chat-input-container {
        display: flex;
        align-items: center;
    }

    .message-caption {
        font-size: 0.8rem;
        color: #aaa;
        margin-bottom: 5px;
    }

    .small-text {
        font-size: 0.8rem;
    }

    .carousel-item {
        display: flex;
        height: 100vh; /* Ensure the carousel items take full viewport height */
    }
    
    .image-container {
        flex: 1;
        background-color: #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    
    .text-container {
        flex: 1;
        background-color: #343a40;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
    }
    
    .carousel-caption h5, .carousel-caption p {
        margin: 0;
        padding: 5px;
    }